body {
    margin: 0;
    line-height: normal;
    max-width: 100vw;
  }
  
  :root {
    /* fonts */
    --font-inter: Inter;
  
    /* font sizes */
    --font-size-base: 16px;
    --font-size-mini: 15px;
    --font-size-lg: 18px;
    --font-size-29xl: 48px;
    --font-size-sm: 14px;
    --font-size-xs: 12px;
    --font-size-19xl: 38px;
    --font-size-181xl: 200px;
    --font-size-31xl: 50px;
  
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-gray-100: #757575;
    --color-gray-200: rgba(255, 255, 255, 0.06);
    --color-gray-300: rgba(255, 255, 255, 0.09);
    --color-gray-400: rgba(255, 255, 255, 0);
    --color-gray-500: rgba(255, 255, 255, 0.22);
    --color-gray-600: rgba(255, 255, 255, 0.1);
    --color-darkblue: #3237c0;
    --color-deeppink: #f13684;
    --color-darkturquoise: #36e6f1;
    --color-blueviolet: #8836f1;
  
    /* Border radiuses */
    --br-3xs: 10px;
    --br-xl: 20px;
  }
  